*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #99E383;
}

.wrapper-logo {
  width: clamp(181px, 55vw, 233px);
  /* margin-top: 25px;
  margin-bottom: 16px;*/
  margin-top: clamp(16px, 5%, 21px);
}

.wrapper-logo img {
  width: 100%;
  height: auto;
}

.testo-1 {
  width: clamp(232px, 72vw, 306px);
  height: auto;
  font-size: clamp(16px, 5.5vw, 24px);
  text-align: center;
  line-height: 25px;
}

.testo-2 {
  width: clamp(192px, 100vw - 128px, 296px);
  font-size: clamp(15px, 4.8vw, 24px);
  text-align: center;
  color: black;
}

.testo-1, .testo-2 {
  margin-top: clamp(15px, 5%, 21px);
  /* margin-bottom: 16px;*/
}

.container-fattori-input {
  margin-top: clamp(15px, 5%, 21px);
  width: clamp(238px, 100vw - 82px, 315px);
  height: auto;
}

.fattori {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: clamp(15px, 5vw, 24px);
}

.fattori-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(16px, 7%, 22px);
}

.wrapper-input {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input {
  width: 82px;
  height: 24px;
  border-radius: 15px;
  border: none;
  text-align: right;
  padding-right: 20px;
  font-family: "La Belle Aurore", cursive;
}

.btnConverti {
  margin-top: clamp(15px, 5%, 21px);
  margin-bottom: clamp(15px, 5%, 21px);
  border: none;
  width: fit-content;
  padding: 12px 25px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  border-radius: 54px;
  background-color: #6EBD83;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

table {
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px;
  border-collapse: collapse;
  margin-top: clamp(15px, 5%, 21px);
  margin-bottom: clamp(15px, 5%, 21px);
  width: clamp(254px, 80vw, 332px);
}

table td {
  border: 1px solid black;
  font-size: clamp(14px, 4.8vw, 16px);
  padding: 5px;
}

.display-none {
  display: none;
}

.table-header td {
  font-size: clamp(16px, 4.8vw, 20px);
}

.fattori-table {
  font-size: clamp(14px, 4.8vw, 16px);
}

.risultato {
  font-size: clamp(18px, 6vw, 24px);
  margin-top: clamp(15px, 5%, 21px);
  margin-bottom: clamp(15px, 5%, 21px);
  text-align: center;
  line-height: 20px;
}

.giallo {
  color: #F1F497;
}

.verde {
  color: #99E383;
}

.rosso {
  color: red;
}

table tr:first-child td {
  border-top: none; /* Nasconde il bordo superiore */
}

table tr:last-child td {
  border-bottom: none; /* Nasconde il bordo inferiore */
}

table td:first-child {
  border-left: none; /* Nasconde il bordo sinistro */
}

table td:last-child {
  border-right: none; /* Nasconde il bordo destro */
}

.wrapper-input-kwh {
  position: relative;
}

.wrapper-input-kwh::after {
  position: absolute;
  content: "*kWh";
  right: 5px;
  bottom: 28px;
  color: black;
  font-size: 12px;
}

.wrapper-input-km {
  position: relative;
}

.wrapper-input-km::after {
  position: absolute;
  content: "*Km";
  right: 5px;
  bottom: 28px;
  color: black;
  font-size: 12px;
}

.wrapper-input-kg {
  position: relative;
}

.wrapper-input-kg::after {
  position: absolute;
  content: "*Kg";
  right: 5px;
  bottom: 28px;
  color: black;
  font-size: 12px;
}

/*MEDIA QUERY TABLET*/
@media screen and (min-width: 585px) {
  .wrapper-logo {
    width: clamp(315px, 50vw, 372px);
    margin-top: clamp(16px, 5%, 21px);
    margin-bottom: clamp(16px, 5%, 21px);
  }
  .testo-1 {
    font-size: clamp(36px, 5.5vw, 48px);
    width: clamp(441px, 72vw, 505px);
    line-height: clamp(35px, 5.5vw, 45px);
    margin-bottom: clamp(16px, 5%, 21px);
  }
  .testo-2 {
    width: clamp(396px, 100vw - 128px, 508px);
    font-size: clamp(32px, 4.8vw, 40px);
    text-align: center;
    color: black;
    margin-bottom: clamp(16px, 5%, 21px);
  }
  .fattori {
    font-size: clamp(32px, 4.8vw, 36px);
  }
  .container-fattori-input {
    margin-top: clamp(15px, 5%, 21px);
    width: clamp(459px, 100vw - 126px, 521px);
    height: auto;
  }
  input {
    width: 141px;
    height: 41px;
    font-size: 20px;
  }
  .btnConverti {
    font-size: 24px;
  }
  .risultato {
    font-size: clamp(32px, 4.8vw, 46px);
    margin-top: clamp(15px, 5%, 21px);
    margin-bottom: clamp(15px, 5%, 21px);
    width: 90%;
    text-align: center;
    line-height: 30px;
  }
  table {
    width: clamp(420px, 80vw, 593px);
    margin-top: clamp(15px, 5%, 21px);
  }
  table td {
    border: 1px solid black;
    font-size: 26px;
    padding: 5px;
  }
  .display-none {
    display: none;
  }
  .table-header td {
    font-size: 30px;
  }
  .fattori-table {
    font-size: 26px;
  }
  .wrapper-input-kwh {
    position: relative;
  }
  .wrapper-input-kwh::after {
    position: absolute;
    content: "*kWh";
    right: 5px;
    bottom: 40px;
    color: black;
    font-size: 16px;
  }
  .wrapper-input-km {
    position: relative;
  }
  .wrapper-input-km::after {
    position: absolute;
    content: "*Km";
    right: 5px;
    bottom: 40px;
    color: black;
    font-size: 16px;
  }
  .wrapper-input-kg {
    position: relative;
  }
  .wrapper-input-kg::after {
    position: absolute;
    content: "*Kg";
    right: 5px;
    bottom: 40px;
    color: black;
    font-size: 16px;
  }
  .risultato {
    font-size: clamp(32px, 6vw, 44px);
    line-height: clamp(30px, 6vw, 44px);
  }
}
/*MEDIA QUERY LAPTOP*/
@media screen and (min-width: 1024px) {
  .wrapper-logo {
    width: 280px;
    margin-top: clamp(10px, 5%, 21px);
  }
  .testo-1 {
    font-size: 28px;
    width: 450px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .testo-2 {
    width: 406px;
    font-size: 24px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .fattori {
    font-size: 26px;
  }
  .container-fattori-input {
    margin-top: 10px;
    width: 450px;
    height: auto;
  }
  input {
    width: 100px;
    height: 30px;
    font-size: 20px;
  }
  .btnConverti {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
  }
  .btnConverti:hover {
    background-color: #62ac6e;
  }
  .risultato {
    font-size: clamp(32px, 4.8vw, 46px);
    margin-top: clamp(15px, 5%, 21px);
    margin-bottom: clamp(15px, 5%, 21px);
    width: 90%;
    text-align: center;
    line-height: 30px;
  }
  table {
    width: 465px;
    margin-top: clamp(15px, 5%, 21px);
  }
  table td {
    border: 1px solid black;
    font-size: 20px;
    padding: 5px;
  }
  .display-none {
    display: none;
  }
  .table-header td {
    font-size: 24px;
  }
  .fattori-table {
    font-size: 20px;
  }
  .wrapper-input-kwh {
    position: relative;
  }
  .wrapper-input-kwh::after {
    position: absolute;
    content: "*kWh";
    right: 5px;
    bottom: 30px;
    color: black;
    font-size: 16px;
  }
  .wrapper-input-km {
    position: relative;
  }
  .wrapper-input-km::after {
    position: absolute;
    content: "*Km";
    right: 5px;
    bottom: 30px;
    color: black;
    font-size: 16px;
  }
  .wrapper-input-kg {
    position: relative;
  }
  .wrapper-input-kg::after {
    position: absolute;
    content: "*Kg";
    right: 5px;
    bottom: 30px;
    color: black;
    font-size: 16px;
  }
  .risultato {
    font-size: 30px;
    line-height: 44px;
  }
}
/*MEDIA QUERY DESKTOP*/
@media screen and (min-width: 1920px) {
  .wrapper-logo {
    width: 315px;
    margin-top: clamp(16px, 5%, 21px);
    margin-bottom: clamp(16px, 5%, 21px);
  }
  .testo-1 {
    font-size: 32px;
    width: 490px;
    line-height: clamp(35px, 5.5vw, 45px);
    margin-bottom: clamp(16px, 5%, 21px);
  }
  .testo-2 {
    width: 406px;
    font-size: 28px;
    text-align: center;
    color: black;
    margin-bottom: clamp(16px, 5%, 21px);
  }
  .fattori {
    font-size: 32px;
  }
  .container-fattori-input {
    margin-top: clamp(15px, 5%, 21px);
    width: 528px;
    height: auto;
  }
  input {
    width: 141px;
    height: 41px;
    font-size: 20px;
  }
  .btnConverti {
    font-size: 24px;
  }
  .risultato {
    font-size: clamp(32px, 4.8vw, 46px);
    margin-top: clamp(15px, 5%, 21px);
    margin-bottom: clamp(15px, 5%, 21px);
    width: 90%;
    text-align: center;
    line-height: 30px;
  }
  table {
    width: 537px;
    margin-top: clamp(15px, 5%, 21px);
  }
  table td {
    border: 1px solid black;
    font-size: 20px;
    padding: 5px;
  }
  .display-none {
    display: none;
  }
  .table-header td {
    font-size: 24px;
  }
  .fattori-table {
    font-size: 20px;
  }
  .wrapper-input-kwh {
    position: relative;
  }
  .wrapper-input-kwh::after {
    position: absolute;
    content: "*kWh";
    right: 5px;
    bottom: 40px;
    color: black;
    font-size: 16px;
  }
  .wrapper-input-km {
    position: relative;
  }
  .wrapper-input-km::after {
    position: absolute;
    content: "*Km";
    right: 5px;
    bottom: 40px;
    color: black;
    font-size: 16px;
  }
  .wrapper-input-kg {
    position: relative;
  }
  .wrapper-input-kg::after {
    position: absolute;
    content: "*Kg";
    right: 5px;
    bottom: 40px;
    color: black;
    font-size: 16px;
  }
  .risultato {
    font-size: 38px;
    line-height: 44px;
  }
}

/*# sourceMappingURL=style.css.map */
