*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "La Belle Aurore", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #99E383;
}


.wrapper-logo{
    width: clamp(181px,55vw,233px);
    /* margin-top: 25px;
    margin-bottom: 16px;*/
    margin-top: clamp(16px,5% ,21px);
}

.wrapper-logo img{
    width: 100%;
    height: auto;
}


.testo-1{
    width: clamp(232px,72vw , 306px);
    height: auto;
    font-size: clamp(16px, 5.5vw ,24px);
    text-align: center;
    line-height: 25px;
}

.testo-2{
    width: clamp(192px, calc(100vw - 128px), 296px);
    font-size: clamp(15px, 4.8vw ,24px);
    text-align: center;
    color: black;
}


.testo-1, .testo-2{
    margin-top: clamp(15px,5%,21px );
    /* margin-bottom: 16px;*/
}



.container-fattori-input{
    margin-top: clamp(15px,5%,21px );
    width: clamp(238px, calc(100vw - 82px) ,315px);
    height: auto;
}


.fattori{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: clamp(15px, 5vw ,24px);
}

.fattori-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(16px,7%, 22px);
}


.wrapper-input{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input{
    width: 82px;
    height: 24px;
    border-radius: 15px;
    border: none;
    text-align: right;
    padding-right: 20px;
    font-family: "La Belle Aurore", cursive;

}

.btnConverti{
    margin-top: clamp(15px,5%,21px );
    margin-bottom: clamp(15px,5%,21px );
    border: none ; 
    width: fit-content;
    padding: 12px 25px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    border-radius: 54px;
    background-color: #6EBD83;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}


table{
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 10px;
    border-collapse: collapse;
    margin-top: clamp(15px,5%,21px );
    margin-bottom: clamp(15px,5%,21px );
    width: clamp( 254px, 80vw ,332px);

}



table td{
    border: 1px solid black;
    font-size:clamp(14px, 4.8vw ,16px);
    padding: 5px;
}

.display-none{
    display: none;
}

.table-header td {
    font-size: clamp(16px, 4.8vw ,20px);
}

.fattori-table{
    font-size: clamp(14px, 4.8vw ,16px);
}


.risultato{
    font-size: clamp(18px, 6vw ,24px);
    margin-top: clamp(15px,5%,21px );
    margin-bottom: clamp(15px,5%,21px );
    text-align: center;
    line-height: 20px;
}


.giallo{
    
    color: #F1F497;
}

.verde {
    color: #99E383;
} 

.rosso{
    color: red;
}

table tr:first-child td {
    border-top: none; /* Nasconde il bordo superiore */
}

table tr:last-child td {
    border-bottom: none; /* Nasconde il bordo inferiore */
}

table td:first-child {
    border-left: none; /* Nasconde il bordo sinistro */
}

table td:last-child{
    border-right: none; /* Nasconde il bordo destro */
}

.wrapper-input-kwh{
    position: relative;
}

.wrapper-input-kwh::after {
position: absolute;
content: '*kWh'; 
right: 5px; 
bottom: 28px;
color: black;
font-size: 12px;
}

.wrapper-input-km{
    position: relative;
}

.wrapper-input-km::after {
position: absolute;
content: '*Km'; 
right: 5px; 
bottom: 28px;
color: black;
font-size: 12px;
}

.wrapper-input-kg{
    position: relative;
}

.wrapper-input-kg::after {
position: absolute;
content: '*Kg'; 
right: 5px; 
bottom: 28px;
color: black;
font-size: 12px;
}









